body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

greeting {
  position: relative;
  bottom: 100px;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.items div{
  /*center */
  display: flex; 
  margin: auto; 
  justify-content: center;
  align-items: center;

  /* panel */
  width: 10vw;
  aspect-ratio: 1 / 1.2; 
  background-color: whitesmoke;
  border: solid lightgrey;
  border-radius: 25%;
  font-weight: bolder;

  margin: 25%;
}

.items div img{
  /* now thats silly */
  position: relative;
  width: 8vw;
  bottom: 2vw;
}
.items div p {
  /*silly squared*/
  position: fixed;
  text-align: center;
}

.center {
  display: flex; 
  margin: auto; 
  justify-content: center;
  align-items: center;
}

.grid {
  grid-template-columns: repeat(12, 1fr);
}

.items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

button {
  font-size: 25px;
  font-weight: bolder;
}

button {
  transition: 0.7s;
  border: solid black;
  border-width: 3px;
  border-radius: 20px;
  height: 20vh;
  aspect-ratio: 1.4 / 1; 
}

button:hover {
  border-width: 2px;
  border: solid gray;
}