body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

greeting {
  position: absolute;
  top: 30vh;
  font-size: larger;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 3vw;
}
showparttext {
  position: absolute;
  top: 2vh;
  font-size: larger;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 3vw;
}

.itemholder{

  overflow: show;

  text-align: center;
  position: relative;
  margin: auto;
  justify-content: center;

  /* panel */
  width: 10vw;
  aspect-ratio: 1 / 1.1; 
  background-color: whitesmoke;
  border: solid lightgrey;
  border-width: 3px;
  border-radius: 2vw;
  font-weight: bolder;

  margin: 0.2vw;
}

.itemimage{
  /* now thats silly 
  the item image
  */
  border-radius: 1.8vw 1.8vw 0vw 0vw;
  width: 10vw;
  bottom: 2vw;

  object-fit: contain; 

}

.itemtextarea{
  position: absolute;
  bottom: 0px;
  width: 10vw;
  height: 4vw;
  background-color: lightgray;
  border-radius: 0vw 0vw 1.8vw 1.8vw;
}

.itemname {
  /*silly squared
  the item name
  */
  bottom: -0.5vw;
  left: 1vw;
  text-align: left;
  font-size: 1vw;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.countinput {
  position: absolute;
  right: 3vw;
  bottom: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-self: right;
  align-self: start;
  width: 2vw;
  height: 1vw;
}

#minus {
  border-radius: 20px 0px 0px 20px;
  left: 100%;
}

#plus {
  border-radius: 0px 20px 20px 0px;
  right: 100%;
}

.countinput button p {
  text-align: left;
  font-size: 1vw;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  position: relative;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: auto;
  right: 0.3vw;
}

.countinput button {
  border: solid black;
  border-width: 2px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 0.7vw;
  background-color: green;
  width: 1vw;
  height: 2vw;
  margin: 0px;
}

.countinput input {
  border: solid black;
  border-width: 2px;
  background-color: lightgreen;
  width: 1.5vw; 
  height: 1.64vw;
}

.center {
  display: flex; 
  margin: auto; 
  justify-content: center;
  align-items: center;
}

.grid {
  grid-template-columns: repeat(12, 1fr);
}

.items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

button {
  font-size: 25px;
  font-weight: bolder;
}

button {
  transition: 0.7s;
  border: solid black;
  border-width: 3px;
  border-radius: 20px;
  height: 20vh;
  aspect-ratio: 1.4 / 1; 
}

button:hover {
  border-width: 2px;
  border: solid gray;
}