<!DOCTYPE html>
<html>
  <head>
    <link href="/main.css" rel="stylesheet"/>
  </head>

  <body class="center">
    <titletext>Check-out parts here! </titletext>
    <div class="items">
        % for i in range(len(names)):
            <div class="itemholder">
                %if images[i] != None:
                    <img class="itemimage" src="{{"img/" + images[i]}}">
                %end
                %if images[i] == None:
                    <img class="itemimage" src="img/noimg.png">
                %end
                <div class="itemtextarea">
                  <p class="itemname">{{names[i]}}</p>

                  <div class="countinput" >
                    <button
                    disabled="true"
                    id="minus"
                    class="value-control"
                    title="Decrease value"
                    aria-label="Decrease value"><p>-</p></button>


                    <input
                    disabled="true"
                    class="numberInput"
                    type="number"
                    value="{{counts[i]}}"
                    name="numberInput"
                    id="input"
                    step="1">

                    <button
                    disabled="true"
                    id="plus"
                    class="value-control"
                    title="Increase value"
                    aria-label="Increase value"><p>+</p></button>
                  </div>

                </div>
            </div>
        % end
    </div>

  </body>

</html>